<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-mbd-5">
        <div class="container">
          <div class="row">
              <div class="col-md-5">
                  Selamat datang <%= dataUsername ? dataUsername : ' ' %>, di halaman utama
                  <a href="/login-pendaftaran">Pendaftaran</a>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>