<section class="w-full h-auto overflow-hidden mb-10">
    <section class="h-[80vh] w-100% lg:max-w-100% flex items-center justify-center bg-contain bg-right bg-no-repeat bg-[#0747A6] bg-opacity-90 bg-custom-sejarah overflow-hidden" style="background-image: url('/public/asset/bangunan (1).png');">
        <div class="w-full h-full max-w-full flex flex-row items-center justify-between gap-4 text-white pr-6 pl-20 bg-[#0747A6] bg-opacity-60 lg:pb-16 lg:pt-40">
          <div class="flex flex-col items-start justify-start">
            <h2 class="font-semibold text-3xl">FAQ</h2>
            <h2 class="font-semibold text-3xl text-yellow-400">Sistem Pondok Pesantren</h2>
            <h2 class="font-semibold text-3xl lg:mb-4 text-yellow-400">SIPONTREN</h2>
            <p class="text-sm lg:w-[80%] text-left leading-relaxed">SIPONTREN (SIstem Informasi Pondok Pesantren) adalah platform berbasis Web yang dirancang untuk mempermudah pengelolaan administrasi dan komunikasi antara pondok pesantren, santri, orang tua, serta masyarakat umum.</p>
          </div>
          <div class="lg:pr-32">
            <img src="/public/asset/file_thumb.png" alt="" class="w-96">
          </div>
        </div>
    </section>
    <section class="min-h-screen w-full flex flex-col justify-center items-start lg:px-20 lg:py-20">
        <div class="w-full flex justify-center items-center flex-col gap-2 lg:mb-14">
            <h2 class="text-[#0747A6] font-semibold text-3xl text-center">
                FAQ
              </h2>
              <div class="bg-yellow-300 w-32 h-[2px]"></div>
        </div>
        <div class="bg-sky-200 bg-opacity-50 lg:mb-6 w-full pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Apa itu SIPONTREN?</h2>
            <p>SIPONTREN atau Sistem Informasi Pondok Pesantren adalah platform digital yang dirancang untuk memberikan informasi lengkap seputar sekolah, termasuk profil sekolah, visi dan misi, fasilitas, serta layanan lainnya. Selain itu, sistem ini juga menyediakan fitur pendaftaran siswa secara online.</p>
          </div>
          <div class="bg-sky-200 bg-opacity-50 lg:mb-6 w-full pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Apa saja informasi yang tersedia dalam sistem ini?</h2>
            <p>Informasi yang tersedia meliputi:
                Profil Sekolah:Sejarah, lokasi, dan struktur organisasi sekolah.
                Visi dan Misi: Gambaran tujuan utama dan misi sekolah dalam mendidik siswa.
                Fasilitas: Informasi tentang fasilitas yang dimiliki sekolah seperti laboratorium, perpustakaan, lapangan olahraga, dan lainnya.
                Program Pendidikan: Penjelasan mengenai kurikulum, ekstrakurikuler, dan kegiatan pembelajaran lainnya.
                Berita dan Pengumuman: Informasi terbaru mengenai kegiatan, prestasi, atau acara di sekolah.
                </p>
          </div>
          <div class="bg-blue-200 bg-opacity-50 lg:mb-6 w-full pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Bagaimana cara menggunakan fitur pendaftaran online?</h2>
           <ol class="list-decimal pl-6 space-y-2">
            <li>
                Masuk ke menu "Pendaftaran Online" di halaman utama.
            </li>
            <li>Isi formulir pendaftaran dengan data siswa, seperti nama lengkap, tanggal lahir, dan informasi kontak.</li>
            <li>Unggah dokumen yang diperlukan, seperti akta kelahiran dan foto identitas.
            </li>
            <li>Klik tombol "Kirim" untuk menyelesaikan pendaftaran.
            </li>
            <li>Setelah pendaftaran selesai, Anda akan mendapatkan nomor pendaftaran untuk proses lebih lanjut.</li>
           </ol>
          </div>
          <div class="bg-blue-200 lg:mb-6 w-full bg-opacity-50 pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Apakah pendaftaran online memerlukan biaya?</h2>
            <p>Pendaftaran online biasanya tidak dikenakan biaya. Namun, jika ada biaya administrasi, informasi tersebut akan dijelaskan pada bagian pendaftaran.</p>
          </div>
          <div class="bg-blue-200 lg:mb-6 w-full bg-opacity-50 pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Apakah data pendaftaran aman?</h2>
            <p>Ya, sistem ini menggunakan teknologi keamanan terbaru untuk melindungi data siswa dan orang tua. Informasi yang diberikan hanya digunakan untuk keperluan administrasi sekolah.</p>
          </div>
          <div class="bg-blue-200 lg:mb-6 w-full bg-opacity-50 pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Bagaimana cara mendapatkan informasi lebih lanjut tentang (nama pondok/sipontren)?</h2>
            <p>Anda dapat mengunjungi bagian "Kontak" di SIPONTREN untuk mendapatkan nomor telepon, email, atau alamat lengkap sekolah. Ada juga fitur FAQ tambahan yang dapat membantu menjawab pertanyaan umum.</p>
          </div>
          <div class="bg-blue-200 lg:mb-6 w-full bg-opacity-50 pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Apakah sistem ini dapat diakses di perangkat mobile?</h2>
            <p>Ya, SIPONTREN dirancang untuk dapat diakses di berbagai perangkat, termasuk komputer, tablet, dan smartphone.</p>
          </div>
          <div class="bg-blue-200 lg:mb-6 w-full bg-opacity-50 pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-4">Apa keuntungan menggunakan SIPONTREN?</h2>
            <ol class="list-decimal pl-6 space-y-2">
              <li>Kemudahan Akses: Informasi dapat diakses kapan saja dan di mana saja.</li>
              <li>Efisiensi: Proses pendaftaran dan administrasi lebih cepat dan praktis.</li>
              <li>Transparansi: Informasi yang jelas dan mudah dipahami oleh semua pihak.</li>
            </ol>
          </div>
          <div class="bg-blue-200 lg:mb-6 w-full bg-opacity-50 pl-5 pr-14 py-4 text-[#0747A6]">
            <h2 class="mb-5">Siapa yang dapat menggunakan sistem ini?</h2>
            <p>Sistem ini dapat digunakan oleh:</p>
            <ol class="list-disc pl-6 space-y-2">
              <li>Calon siswa dan orang tua yang ingin mendaftar ke sekolah.</li>
              <li>Siswa yang ingin mendapatkan informasi terbaru dari sekolah.</li>
              <li>Guru dan staf sekolah untuk keperluan administrasi.</li>
              <li>Masyarakat umum yang ingin mengenal lebih jauh tentang sekolah.</li>
            </ol>
          </div>
          <div class="w-full text-[#0747A6]">
            <p>Jika Anda memiliki pertanyaan lain, silakan hubungi pihak sekolah melalui halaman “Kontak” yang tersedia di sistem informasi ini.</p>
          </div>
    </section>
</section>