<section class="w-full h-auto overflow-hidden">
    <section class="h-[80vh] w-100% lg:max-w-100% flex items-center justify-center bg-contain bg-right bg-no-repeat bg-[#0747A6] bg-opacity-90 bg-custom-sejarah overflow-hidden bg-fixed" style="background-image: url('/public/asset/bangunan/bangunan_1.png');">
        <div class="w-full h-full max-w-full flex flex-row items-center justify-between gap-4 text-white pr-6 pl-20 bg-[#0747A6] bg-opacity-60 lg:pb-16 lg:pt-40">
          <div class="flex flex-col items-start justify-start">
            <h2 class="font-semibold text-3xl">Pondok Pesantren</h2>
            <h2 class="font-semibold text-3xl">Muhammadiyah Al-Amin</h2>
            <h2 class="font-semibold text-3xl lg:mb-4 text-yellow-400">Seputih Banyak - Lampung Tengah</h2>
            <p class="text-sm lg:w-[80%] text-left leading-relaxed">Pesantren ini berdiri sebagai salah satu upaya Muhammadiyah untuk mencetak generasi muda yang berakhlak mulia, memiliki wawasan keislaman yang mendalam, serta mampu berkontribusi dalam pembangunan masyarakat.</p>
          </div>
          <div class="lg:pr-32">
            <img src="/public/asset/logo/file_thumb.png" alt="" class="w-96">
          </div>
        </div>
    </section>
    <section class="min-h-screen w-100% lg:max-w-100% flex items-center justify-center bg-contain bg-right bg-no-repeat bg-white bg-opacity-90 custom-kemahadan  bg-custom-kemahadan overflow-hidden scale-x-[-1]">
        <div class="w-full h-full max-w-full flex flex-col items-center justify-between gap-4 text-white px-20 bg-white bg-opacity-60 lg:pb-16 lg:py-20">
          <div class="w-full flex justify-start items-center flex-col gap-2 lg:mb-14">
            <h2 class="text-[#0747A6] font-semibold text-3xl text-center scale-x-[-1]">
                Daily Santri
              </h2>
            <h2 class="text-[#0747A6] font-semibold text-3xl text-center scale-x-[-1]">
                Pondok Pesantren Muhammadiyah Al-Amin  
              </h2>
            <h2 class="text-[#0747A6] font-semibold text-3xl text-center scale-x-[-1]">
                Seputih Banyak - Lampung Tengah 
              </h2>
              <div class="bg-yellow-300 w-64 h-1 mt-2"></div>
          </div>
          <div>
            <div class="overflow-hidden w-[100%] flex justify-center items-center">
              <div class="w-[60%] group">
                <img src="/public/asset/pamflet/pamflet-1.jpg" alt="" class="object-cover group-hover:scale-110 transition duration-500 ease-in-out">
              </div>
            </div>
          </div>
          
        </div>
    </section>
    <section class="min-h-screen w-100% lg:max-w-100% flex items-center justify-center bg-contain bg-right bg-no-repeat bg-[#0747A6] bg-opacity-90 bg-custom-kemahadan-pages-3 overflow-hidden" style="background-image: url('/public/asset/bangunan/bangunan_1.png');">
      <div class="min-w-full h-full flex flex-col items-center justify-start gap-4 text-white px-20 py-10  bg-[#0747A6] bg-opacity-60 lg:pb-16 lg:pt-10">
                <div class="w-full flex flex-col justify-center items-center mb-10">
                  <h2 class="text-white font-semibold text-3xl text-center mb-4">
                    Gallery Santri
                  </h2>
                  <div class="bg-yellow-300 w-32 h-[3px]"></div>
                </div>
              <div class="grid grid-cols-2 md:grid-cols-3 gap-2 w-full px-20">
                <!-- Image 1 -->
                <div class="row-span-1 overflow-hidden rounded-lg shadow-md">
                  <img src="/public/asset/img/img_6.jpg" alt="Image 1" class="w-full h-full object-cover">
                </div>
                <!-- Image 2 -->
                <div class="row-span-5 overflow-hidden rounded-lg shadow-md">
                  <img src="/public/asset/img/img_1.jpg" alt="Image 2" class="w-full h-full object-cover">
                </div>  
                <!-- Image 3 -->
                <div class="row-span-5 overflow-hidden rounded-lg shadow-md">
                  <img src="/public/asset/img/img_2.jpg" alt="Image 3" class="w-full h-full object-cover">
                </div>
                <!-- Image 4 -->
                <div class="row-span-5 overflow-hidden rounded-lg shadow-md">
                  <img src="/public/asset/img/img_3.jpg" alt="Image 4" class="w-full h-full object-cover">
                </div>
                <!-- Image 5 -->
                <div class="row-span-1 overflow-hidden rounded-lg shadow-md">
                  <img src="/public/asset/img/img_4.jpg" alt="Image 5" class="w-full h-full object-cover">
                </div>
                <!-- Image 6 -->
                <div class="row-span-1 overflow-hidden rounded-lg shadow-md">
                  <img src="/public/asset/img/img_5.jpg" alt="Image 6" class="w-full h-full object-cover">
                </div>
              </div>
              <div class="w-full h-[10vh] flex justify-center items-center lg:mb-10 lg:px-20">
                <a 
                href="/form-pendaftaran" 
                class=" bg-white text-[#0747A6] font-medium text-xl px-6 py-4 rounded-3xl hover:bg-[#0747A6] hover:text-white hover:border hover:border-[#0747A6] transition duration-200 ease-in-out w-full text-center">
                Selengkapnya
              </a>
              </div>
          </div>
      </div>
  </section>
</section>