<section class="h-[80vh] w-100% lg:max-w-100% flex items-center justify-center bg-contain bg-right bg-no-repeat bg-[#0747A6] bg-opacity-90 bg-custom-sejarah overflow-hidden" style="background-image: url('/public/asset/bangunan/bangunan_1.png');">
    <div class="w-full h-full max-w-full flex flex-row items-center justify-between gap-4 text-white pr-6 pl-20 bg-[#0747A6] bg-opacity-60 lg:pb-16 lg:pt-40">
      <div class="flex flex-col items-start justify-start">
        <h2 class="font-semibold text-3xl">Pondok Pesantren</h2>
        <h2 class="font-semibold text-3xl">Muhammadiyah Al-Amin</h2>
        <h2 class="font-semibold text-3xl lg:mb-4 text-yellow-400">Seputih Banyak - Lampung Tengah</h2>
        <p class="text-sm lg:w-[80%] text-left leading-relaxed">Pesantren ini berdiri sebagai salah satu upaya Muhammadiyah untuk mencetak generasi muda yang berakhlak mulia, memiliki wawasan keislaman yang mendalam, serta mampu berkontribusi dalam pembangunan masyarakat</p>
      </div>
      <div class="lg:pr-32">
        <img src="/public/asset/logo/file_thumb.png" alt="" class="w-96">
      </div>
    </div>
   
</section>
<section class="flex items-center justify-center flex-col lg:max-w-100% w-100% mb-10">
    <div class="flex flex-col items-center justify-center w-full lg:mt-12 lg:mb-8">
        <p class="text-xl text-blue-600 font-semibold">Sejarah Pendidikan</p>
        <p class="text-xl text-blue-600 font-semibold">Pondok Pesantren Muhammadiyah Al-Amin</p>
        <p class="text-xl text-blue-600 font-semibold">Septuih Banyak - Lampung Tengah</p>
        <div class="bg-yellow-500 h-0.5 w-52 lg:mt-3"></div>
    </div>
    <div class="flex mt-[32rem] lg:mt-0 justify-start gap-3 w-full bg-transparent overflow-x-auto py-8 rounded-lg scrollbar-hidden scroll-smooth lg:pl-20 lg:pr-20"
    id="scroll-container-berita">
    <div class="bg-blue-600 lg:w-[80%] lg:h-[28rem] rounded-3xl flex-shrink-0 flex items-center justify-center flex-col lg:px-14 text-center gap-4">
      <p class="text-white text-normal">Pondok Pesantren Al-Amin didirikan pada tahun 2005 oleh Pimpinan Cabang Muhammadiyah dengan H. Rejono, S.Pd, sebagai Ketua cabang dan disetujui secara resmi oleh Pimpinan Wilayah Muhammadiyah Lampung tahun 2007, bersamaan dengan persetujuan dari Kepala Kantor Departemen Agama Wilayah Lampung dengan unit Pendidikan Taman Pendidikan Al-Quran (TPA). Gagasan ini muncul akibat melemahnya Akidah dan Akhlak anak-anak yang kurang diperhatikan sehingga ada keinginan besar untuk membangun pondok pesantren yang dapat membantu anak-anak dalam belajar dan menata akidah dan akhlak.
       </p>
       <p class="text-white text-normal">
        Seiring dengan usaha peningkatan pelayanan pendidikan, pada tahun 2015 didirikan Unit Pendidikan baru yaitu Sekolah Menengah Pertama kelas Boarding. Dengan jumlah peserta didik (santri) 9 anak dan pada tahun 2016 terdaftar peserta didik baru 29 anak. Dengan berjalannya waktu sarana dan prasarana mulai berkembang, seperti bangunan asrama yang bertambah, kelas, masjid dan yang lainnya. 
       </p>
    </div>
    <div class="bg-blue-600 lg:w-[80%] lg:h-[28rem] rounded-3xl flex-shrink-0 flex items-center justify-center flex-col lg:px-14 text-center gap-4 ">
      <p class="text-white text-normal">Berkembangnya pendidikan ini diwarnai dengan pertambahan santri dan anak-anak TPA hingga pada tahun 2019 mencapai 105 santri dan penyebaaran asal peserta didik (santri) berasal dari dalam daerah, meliputi; Provinsi Sumatra Selatan, Kabupaten Lampung Utara, Lampung Timur, Lampung Tengah dan ada juga yang berasal dari Kalimantan.
      </p>
      <p class="text-white text-normal">Selain unit-unit pendidikan tersebut, di Pondok Pesantren Al-Amin juga ada unit bimbingan Tahfidzul Qur’an dan Pembinaan TPA-TPA dibeberapa Masjid yang berada di Kecamatan Seputih Banyak. 
        Demi berjalannya pendidikan yang efektif, yayasan mengkaji dan mencari solusi terbaik agar pendidikan islam yang tidak sekedar penambahan beberapa mata pelajaran agama tetapi memadukan langsung kurikulum pesanren dan kurikulum nasional dengan harapan Pondok Pesantren Mu Al-Amin menjadi Lembaga Pendidikan Muhammadiyah yang unggul dalam Ilmu Keislaman, Berwawasan Luas, Visioner dan Santun. Adapun kurikulum yang digunakan adalah kurikulum yang resmi dikeluarkan oleh LP2PP Muhammadiyah.
      </p>
    </div>
  </div>
</section>

<section class="w-full h-[150vh]">
  <div class="w-full h-full flex justify-between items-center bg-blue-700 lg:pt-16">
      <div class="flex justify-end items-end p-6 rounded-lg relative lg:w-[100%]">
          <!-- Foto pertama -->
          <div class="lg:w-[95%] h-[22rem] relative">
            <!-- Bagian Gambar -->
            <div class="lg:w-[100%] lg:h-full rounded-3xl relative flex justify-center items-center">
              <!-- Elemen yang menyerupai ::before -->
              <div class=" absolute bottom-0 lg:w-[80%] lg:h-[22rem] bg-gradient-to-b from-yellow-500 to-yellow-400 rounded-3xl"></div>
              
              <img
                src="/public/asset/thumbnail_profile.png"
                alt="Thumbnail"
                class="lg:absolute z-10 lg:bottom-0 lg:left-0 lg:w-[130%] lg:h-auto"
              >
            </div>
          </div>
        </div>
         <div class="h-full lg:w-[100%] lg:pr-24 flex flex-col gap-8 justify-start items-start">
            <div class="lg:w-full flex flex-col justify-start items-start">
              <p class="text-start font-semibold text-3xl text-white">Visi & Misi</p>
              <div class="w-[28%] h-[2px] bg-yellow-400"></div>
            </div>
            <div class="flex justify-start items-start flex-col lg:gap-4">
              <h2 class="bg-white text-blue-700 lg:py-2 lg:px-12 rounded-xl">
                Visi
              </h2>
              <p class="text-white text-start">
                Menjadi Lembaga Pendidikan Muhammadiyah Yang Unggul Dalam Ilmu Keislaman, Berwawasan Luas, Visioner Dan Santun
              </p>
            </div>

            <div class="flex justify-start items-start flex-col lg:gap-4">
              <h2 class="bg-white text-blue-700 lg:py-2 lg:px-12 rounded-xl">
                Misi
              </h2>
              <ol class="list-decimal list-inside space-y-2 gap-6 text-white">
                <li>Menyelenggarakan pendidikan pesantren integrasi dengan memadukan kurikulum pesantren dan kurikulum nasional.</li>
                <li>Menyelenggarakan pendidikan yang berbasis Qur’an dan Hadist yang sesuai paham Muhammadiyah.</li>
                <li>Menanamkan nilai-nilai keimanan dan keislaman untuk menyiapkan dan mencetak kader Muhammadiyah yang cerdas iman, ilmu, dan akhlak.</li>
                <li>Mengembangkan pendidikan Bahasa Arab dan Inggris sebagai alat komunikasi untuk mendalami agama, ilmu pengetahuan, dan teknologi.</li>
                <li>Membentuk karakter dan mengembangkan minat bakat santri dalam berbagai kegiatan keorganisasian dan ekstrakurikuler.</li>
                <li>Menyelenggarakan pendidikan yang kreatif, komunikatif, humanistik, dan menyenangkan.</li>
              </ol>
            </div>
          </div>
    </div>
</section>
<section class="w-full h-[100vh]">
  <div class="w-full h-full flex justify-between items-center bg-white lg:pt-16 lg:w-full">
    <div class="flex justify-end items-end p-6 rounded-lg relative lg:w-[100%] order-2">
       <!-- Foto pertama -->
       <div class="lg:w-[90%] h-[22rem] relative">
        <!-- Bagian Gambar -->
        <div class="lg:w-[100%] lg:h-full rounded-3xl relative flex justify-center items-center">
          <!-- Elemen yang menyerupai ::before -->
          <div class=" absolute bottom-0 lg:w-[80%] lg:h-[22rem] bg-gradient-to-b from-yellow-500 to-yellow-400 rounded-3xl"></div>
          
          <img
            src="/public/asset/thumbnail_profile.png"
            alt="Thumbnail"
            class="lg:absolute z-10 lg:bottom-0 lg:left-0 lg:w-[130%] lg:h-auto"
          >
        </div>
      </div>
    </div>
         <div class="h-full lg:w-[100%] lg:pl-20 flex flex-col gap-8 justify-start items-start order-1">
            <div class="lg:w-full flex flex-col justify-start items-start lg:gap-2">
              <p class="text-start font-semibold text-3xl text-blue-800 ">Program Unggulan</p>
              <div class="w-[28%] h-[2px] bg-yellow-400"></div>
            </div>
            <div class="flex justify-start items-start flex-col">
              <p class="text-blue-800 text-start">
                Ada bebrapa program unggulan di Pontren Mu seperti Tahfidz Al-Quran, Bahasa Inggris, Bahasa Arab, Desain Grafis, Movie Maker, dan Bidang Pelajaran Pilihan. Namun yang paling mendominasi ialah Tahfidz Al-Quran. Proses pembelajaran Tahfidz Al-Quran ada beberapa cara salah satunya kami membuka kelas khusus untuk Tahfidz, sehingga santri-santri yang memilki keinginan lebih untuk menambah haflan bisa mengikuti kelas khusus Tahfidz Quran. Kelas ini sebagian banyak waktunya digunakan untuk menghafal dan dibimbing oleh Ustad Ismail Sujono,Lc. Sedangkan untuk santri-santri yang tidak mengikuti kelas tahfidz untuk mengecek sejauh mana hafalan yang telah dicapai, dilakukan setiap hari senin dan kamis dan dibimbing oleh ustad/ustadzhnya. Tugas ustad dan ustadzah selain dari menerima setoran hafalan dari santri juga mencatat dan memantau serta memberikan koreksi dan evaluasi terhadap kemajuan hafalan santri. 

              </p>
            </div>
          </div>
  </div>
</section>

<!-- fasilitas -->
<section class="relative lg:h-[90vh] min-w-full lg:mb-20 bg-slate-200 bg-opacity-55">
  <div class="place-items-center gap-6 py-10 h-full w-full grid grid-cols-1 lg:grid-cols-1 lg:place-items-center lg:px-2 lg:py-14 lg:gap-1">
    <div class="py-4 px-2 w-[50%] lg:w-[20%] rounded-xl text-sky-700 font-semibold text-3xl text-center">
      Fasilitas
    </div>
    <div class="bg-yellow-300 w-32 h-[2px] lg:mb-24 lg:-mt-4"></div>
    <div
      class="flex flex-row lg:flex-row gap-6 overflow-x-auto h-auto pl-4 pt-2 pb-10 bg-transparent rounded-lg w-full items-center lg:items-start scrollbar-hidden scroll-smooth cursor-pointer"
      id="scroll-container">
      <!-- card 1 -->
      <div class="h-[17rem] min-w-[95%] lg:min-w-[18rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[12rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-top flex justify-between items-center overflow-hidden">
            <img src="/public/asset/image10.png" alt="" srcset="" class="w-full h-full">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-start h-[6rem] py-4">
          <h2 class="font-semibold text-black ">Masjid Al-Amin</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Qorem, ipsum dolor.</p>
        </div>
      </div>
      <div class="h-[17rem] min-w-[95%] lg:min-w-[18rem] bg-white flex justify-between items-center flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[12rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-top flex justify-between items-center overflow-hidden">
            <img src="/public/asset/image10.png" alt="" srcset="" class="w-full h-full">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-start h-[6rem] py-4">
          <h2 class="font-semibold text-black ">Masjid Al-Amin</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Qorem, ipsum dolor.</p>
        </div>
      </div>
      <div class="h-[17rem] min-w-[95%] lg:min-w-[18rem] bg-white flex justify-between items-center flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[12rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-top flex justify-between items-center overflow-hidden">
            <img src="/public/asset/image10.png" alt="" srcset="" class="w-full h-full">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-start h-[6rem] py-4">
          <h2 class="font-semibold text-black ">Masjid Al-Amin</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Qorem, ipsum dolor.</p>
        </div>
      </div>
      <div class="h-[17rem] min-w-[95%] lg:min-w-[18rem] bg-white flex justify-between items-center flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[12rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-top flex justify-between items-center overflow-hidden">
            <img src="/public/asset/image10.png" alt="" srcset="" class="w-full h-full">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-start h-[6rem] py-4">
          <h2 class="font-semibold text-black ">Masjid Al-Amin</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Qorem, ipsum dolor.</p>
        </div>
      </div>
      <div class="h-[17rem] min-w-[95%] lg:min-w-[18rem] bg-white flex justify-between items-center flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[12rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-top flex justify-between items-center overflow-hidden">
            <img src="/public/asset/image10.png" alt="" srcset="" class="w-full h-full">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-start h-[6rem] py-4">
          <h2 class="font-semibold text-black ">Masjid Al-Amin</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Qorem, ipsum dolor.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="h-[70vh] flex flex-col justify-start items-center gap-10">
  <div class="flex flex-col justify-start items-center">
    <h2 class="text-blue-600 text-3xl font-semibold">Prestasi Santri</h2>
    <div class="bg-yellow-300 w-36 h-[2px]"></div>
  </div>
  <div class="flex justify-center items-start lg:py-3 w-[100%] h-full gap-16">
    <div class="w-36 h-48 flex justify-center items-center flex-col gap-4">
      <div class="bg-[url('/public/asset/logo/kapas.png')] lg:w-36 h-32 bg-cover bg-center bg-no-repeat text-center flex items-center justify-center text-blue-700 text-3xl font-bold">
        90
      </div>
      <h3 class="text-center font-bold text-blue-700">
        Prestasi Internasional
      </h3>
    </div>
    <div class="w-36 h-48 flex justify-center items-center flex-col gap-4">
      <div class="bg-[url('/public/asset/logo/kapas.png')] lg:w-36 h-32 bg-cover bg-center bg-no-repeat text-center flex items-center justify-center text-blue-700 text-3xl font-bold">
        90
      </div>
      <h3 class="text-center font-bold text-blue-700">
        Prestasi Internasional
      </h3>
    </div>
    <div class="w-36 h-48 flex justify-center items-center flex-col gap-4">
      <div class="bg-[url('/public/asset/logo/kapas.png')] lg:w-36 h-32 bg-cover bg-center bg-no-repeat text-center flex items-center justify-center text-blue-700 text-3xl font-bold">
        90
      </div>
      <h3 class="text-center font-bold text-blue-700">
        Prestasi Internasional
      </h3>
    </div>
    <div class="w-36 h-48 flex justify-center items-center flex-col gap-4">
      <div class="bg-[url('/public/asset/logo/kapas.png')] lg:w-36 h-32 bg-cover bg-center bg-no-repeat text-center flex items-center justify-center text-blue-700 text-3xl font-bold">
        90
      </div>
      <h3 class="text-center font-bold text-blue-700">
        Prestasi Internasional
      </h3>
    </div>
  </div>
</section>

<section class="relative lg:h-[90vh] min-w-full lg:mb-10 bg-transparent bg-opacity-55">
  <div class="place-items-center gap-6 py-10 h-full w-full grid grid-cols-1 lg:grid-cols-1 lg:place-items-center lg:px-2 lg:py-14 lg:gap-1">
    <div class="py-4 px-2 w-full lg:w-full rounded-xl text-sky-700 font-semibold text-3xl text-center">
      Profile Asatid/Ustadzah
    </div>
    <div class="bg-yellow-300 w-32 h-[2px] lg:mb-24 lg:-mt-4"></div>
    <div
      class="flex flex-row lg:flex-row gap-6 overflow-x-auto h-auto pl-4 pt-2 pb-10 bg-transparent rounded-lg w-full items-center lg:items-start scrollbar-hidden scroll-smooth cursor-pointer"
      id="scroll-container-ustad">
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="h-[19rem] min-w-[95%] lg:min-w-[13rem] bg-white flex justify-between items-start flex-col text-white rounded-2xl shadow-custom overflow-hidden">
        <div class="w-full h-[15rem]">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>
        <div class="grid grid-cols-1 px-4 w-full justify-start place-items-center h-[6.5rem] py-4">
          <h2 class="font-semibold text-black text-sm text-center">Ust. Inan Aditya Febriana</h2>
          <p class="text-[0.5rem] text-slate-500 -mt-3 pl-[2px]">Direktur</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- alumni -->
<section class="relative lg:h-[90vh] min-w-full lg:mb-20 bg-transparent bg-opacity-55">
  <div class="place-items-center gap-6 py-10 h-full w-full grid grid-cols-1 lg:grid-cols-1 lg:place-items-center lg:px-2 lg:py-14 lg:gap-1">
    <div class="py-4 px-2 w-full lg:w-full rounded-xl text-sky-700 font-semibold text-3xl text-center">
      Apa Kata Lulusan
    </div>
    <div class="bg-yellow-300 w-32 h-[2px] lg:mb-24 lg:-mt-4"></div>
    <div
      class="flex flex-row lg:flex-row gap-6 overflow-x-auto h-auto pl-4 pt-2 pb-10 bg-transparent rounded-lg w-full items-center lg:items-start scrollbar-hidden scroll-smooth cursor-pointer"
      id="scroll-container-alumni">
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      <!-- card 1 -->
      <div class="w-full lg:w-[30rem] bg-white flex flex-row items-center text-black rounded-2xl shadow-custom overflow-hidden flex-shrink-0">
        <!-- Image Section -->
        <div class="w-[50%] h-[19rem] rounded-2xl overflow-hidden">
          <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/public/asset/image10.png')] overflow-hidden">
          </div>
        </div>

        <!-- Text Section -->
        <div class="w-[60%] h-[19rem] flex flex-col justify-start px-6 lg:py-4">
          <h2 class="font-semibold text-lg text-black text-left">Ust. Inan Aditya Febriana</h2>
          <p class="text-sm mb-2">Angkatan 1</p>
          <p class="text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam facilis qui pariatur modi eligendi placeat rerum architecto ullam necessitatibus?</p>
        </div>
      </div>
      
    </div>
  </div>
</section>