<section class="w-full h-auto overflow-hidden">
    <section class="h-[80vh] w-100% lg:max-w-100% flex items-center justify-center bg-contain bg-right bg-no-repeat bg-[#0747A6] bg-opacity-90 bg-custom-sejarah overflow-hidden" style="background-image: url('/public/asset/bangunan (1).png');">
        <div class="w-full h-full max-w-full flex flex-row items-center justify-between gap-4 text-white pr-6 pl-20 bg-[#0747A6] bg-opacity-60 lg:pb-16 lg:pt-40">
          <div class="flex flex-col items-start justify-start">
            <h2 class="font-semibold text-3xl">Penerimaan Santri Baru</h2>
            <h2 class="font-semibold text-3xl lg:mb-4 text-yellow-400">Tahun Ajaran 2025/2026</h2>
            <p class="text-sm lg:w-[80%] text-left leading-relaxed">Kunjungi website PSB Pondok Pesantren Muhammadiyah Al-Amin Seputih Banyak, lengkapi setiap persyaratan, ikuti semua alur pendaftaran dan jadilah bagian dari Pondok Pesantren Muhammadiyah Al-Amin Septuih Banyak</p>
          </div>
          <div class="lg:pr-32">
            <img src="/public/asset/file_thumb.png" alt="" class="w-96">
          </div>
        </div>
    </section>
    <section class="w-full h-auto flex justify-between items-center flex-col lg:gap-6 lg:pt-10 ">
        <div class="w-full h-full flex items-center bg-transparent lg:pt-24 lg:mb-7">
          <div class="flex justify-center items-center p-6 rounded-lg relative lg:w-[70%]">
            <!-- Foto pertama -->
            <div class="lg:w-[95%] h-[22rem] relative">
              <!-- Bagian Gambar -->
              <div class="lg:w-[90%] lg:h-full rounded-3xl relative flex justify-center items-center">
                <!-- Elemen yang menyerupai ::before -->
                <div class=" absolute bottom-0 lg:w-[80%] lg:h-[20rem] bg-gradient-to-b bg-[#0747A6] rounded-3xl"></div>
                
                <img
                  src="/public/asset/thumbnail_profile.png"
                  alt="Thumbnail"
                  class="lg:absolute z-10 lg:bottom-0 lg:left-0 lg:w-[130%] lg:h-auto"
                >
              </div>
            </div>    
          </div>
               <div class="h-full lg:w-[60%] lg:pr-24 flex flex-col gap-2 justify-start items-start lg:pt-0">
                  <div class="w-full flex justify-start items-start flex-col gap-2 lg:mb-14">
                    <div class="text-[#0747A6] font-semibold text-3xl text-center">
                        One Day, One Service
                      </div>
                      <div class="bg-yellow-300 w-32 h-[2px]"></div>
                  </div>
                  <div class="flex flex-col justify-start items-start">
                    <h2 class="text-[#0747A6] font-semibold text-xl">Melakukan Pendaftaran</h2>
                    <p class="text-sm ">Calon santri dapat melakukan pendaftaran melalui website pondok pesantren atau dapat langsung datang di kampus kami yang berada di Jl. AR. Fakhrudin No 2. Tanjung Harapan, Sep. Banyak</p>
                  </div>
                  <div class="flex flex-col justify-start items-start">
                    <h2 class="text-[#0747A6] font-semibold text-xl">Melakukan Tes/Ujian</h2>
                    <h2 class="text-sm ">Tes tulis meliputi tes baca tulis Al-Qur’an, Hafalan Surat-surat pendek, praktek ibadah, pengetahuan umum dan pai, serta wawancara orang tua dan santri</h2>
                  </div>
                  <div class="flex flex-col justify-start items-start">
                    <h2 class="text-[#0747A6] font-semibold text-xl">Pengumuman Pendaftaran</h2>
                    <h2 class="text-sm">Pengumuman kelulusan calon santri akan segera di umumkan melalui website atau whatsapp grup.</h2>
                  </div>
                </div>
        </div>
        <div class="w-[85%] lg:h-[6rem] bg-[#0747A6] rounded-2xl">
        </div>
      </section>

      <section class="bg-transparent flex items-center justify-center min-h-screen lg:px-20">
        <div class="h-[75vh] grid md:grid-cols-10 w-full border border-blue-300 rounded-[3rem] shadow-md">
          <div class="flex gap-40 items-center flex-col h-full py-10 col-span-1">
            <p class="mb-10 text-[#0747A6]">01</p>
            <p class="-rotate-90 text-center w-[20rem] text-[#0747A6]">Waktu Pelayanan Pendaftaran</p>
          </div>
          <div class="w-full col-span-6 py-10 ">
            <div class="font-light text-3xl text-[#0747A6] lg:mb-4">Waktu Pelayanan Pendaftaran</div>
            <div class="text-slate-700 opacity-70 text-base lg:mb-10 lg:w-[60%]">Pondok Pesantren Muhammadiyah Al-Amin Septuih Banyak - Lampung Tengah</div>
            <div class="text-[#0747A6] font-semibold text-base">
              <p>Hari Kerja pukul 08.00 - 16.00</p>
              <p>Pendaftaran Online Buka 24 jam</p>
            </div>
          </div>
          <div class="flex gap-40 items-center flex-col border-l border-blue-300 h-full py-10 col-span-1">
            <p class="mb-10 text-[#0747A6]">01</p>
            <p class="-rotate-90 text-center w-[20rem] text-[#0747A6]">Waktu Pelayanan Pendaftaran</p>
          </div>
          <div class="flex gap-40 items-center flex-col border-l border-blue-300 h-full py-10 col-span-1">
            <p class="mb-10 text-[#0747A6]">01</p>
            <p class="-rotate-90 text-center w-[20rem] text-[#0747A6]">Waktu Pelayanan Pendaftaran</p>
          </div>
          <div class="flex gap-40 items-center flex-col border-l border-blue-300 h-full py-10 col-span-1 rounded-e-[3rem]">
            <p class="mb-10 text-[#0747A6]">01</p>
            <p class="-rotate-90 text-center w-[20rem] text-[#0747A6]">Waktu Pelayanan Pendaftaran</p>
          </div>
        </div>
      </section>
      <!-- informasi pendaftaran -->
      <section class="flex flex-col justify-center items-center min-h-screen max-w-full lg:mb-16 lg:px-32">
          <div class="py-4 px-2 w-full rounded-xl text-sky-700 font-semibold text-3xl text-center">
            Informasi Pendaftaran
          </div>
          <div class="bg-yellow-300 w-48 h-1 lg:mb-14 lg:-mt-0"></div>
        <div class="grid grid-cols-2 grid-rows-2 gap-2 w-full justify-center items-center">
          <div class="col-span-1 overflow-hidden group">
            <img src="/public/asset/pamflet/pamflet-1.jpg" alt="" class="object-cover group-hover:scale-110 transition duration-500 ease-in-out">
          </div>
          <div class="col-span-1 overflow-hidden group">
            <img src="/public/asset/pamflet/pamflet-2.jpg" alt="" class="object-cover group-hover:scale-110 transition duration-500 ease-in-out">
          </div>
          <div class="col-span-1 overflow-hidden group">
            <img src="/public/asset/pamflet/pamflet-3.jpg" alt="" class="object-cover group-hover:scale-110 transition duration-500 ease-in-out">
          </div>
          <div class="col-span-1 overflow-hidden group">
            <img src="/public/asset/pamflet/pamflet-4.jpg" alt="" class="object-cover group-hover:scale-110 transition duration-500 ease-in-out">
          </div>
        </div>
      </section>
</section>

<section class="w-full px-4 md:px-32 md:mb-10">
  <div class="w-full h-auto grid grid-cols-1 md:grid-cols-2 bg-[#0747A6] text-white rounded-3xl  shadow-lg">
    <!-- Left Section -->
    <div class="p-6 md:p-12 flex flex-col justify-center">
      <div class="flex items-center gap-4 mb-6">
        <img 
          src="/public/asset/file-1-10.png" 
          alt="Logo" 
          class="w-12 h-12"
        >
        <img 
          src="/public/asset/amak-design-133717-20241205-10.png" 
          alt="Tulisan Arab" 
          class="w-24 h-auto"
        >
      </div>
      <p class="text-sm mb-2">Update Informasi Terkait</p>
      <h1 class="text-2xl lg:text-3xl font-bold mb-4 leading-tight">
        PENERIMAAN SANTRI BARU<br>
        TAHUN AJARAN 2025/2026
      </h1>
      <p class="bg-yellow-400 text-blue-900 font-semibold px-4 py-2 rounded inline-block mb-6 text-sm w-[40%]">
        Jenjang SMP/SMA
      </p>
    </div>

    <!-- Right Section -->
    <div class="relative flex justify-end items-end">
      <img 
        src="/public/asset/thumbnail_profile.png" 
        alt="Santri" 
        class="w-4/5 md:w-3/4 lg:w-[80%] lg:-mr-10 object-contain"
      >
    </div>
  </div>
</section>

<div class="w-full h-[10vh] flex justify-center items-center lg:mb-10 lg:px-32">
  <a 
  href="/form-pendaftaran" 
  class=" bg-[#0747A6] text-white font-medium text-base px-6 py-4 rounded-3xl hover:bg-white hover:text-[#0747A6] hover:border hover:border-[#0747A6] transition duration-200 ease-in-out w-full text-center">
  Daftar Sekarang
</a>
</div>

