<div class="container">
    <div class="row">
        <h1>Ubah Username</h1>
        <% if (typeof errors != 'undefined') { %>
          <div class="alert alert-danger" role="alert">
            <ul>
              <% errors.forEach(error => { %>
               <li><%= error.msg %></li>
              <% }) %>
            </ul>
          </div>
        <% } %>
        <% if (typeof msg !== 'undefined' && msg.length !== 0) { %>
          <div class="alert alert-success" role="alert">
            <h3><%= msg %></h3>
          </div>
        <% } %>
        <div class="col-md-5">
            <form method="post" action="/ubah-password?_method=PUT">
              <input type="text" class="form-control" name="_id" value="<%= user ? user._id : '' %>">
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="masukan username">
                  </div>
                  <div class="mb-3">
                    <label for="passwordLama" class="form-label">Password Lama</label>
                    <input type="password" class="form-control" id="passwordLama" name="passwordLama" placeholder="masukan password lama" >
                  </div>
                  <div class="mb-3">
                    <label for="passwordBaru" class="form-label">Password Baru</label>
                    <input type="password" class="form-control" id="passwordBaru" name="passwordBaru" placeholder="masukan password baru" >
                  </div>
                  <div class="mb-3">
                    <label for="konfirmasiPassword" class="form-label">Konfirmasi password</label>
                    <input type="password" class="form-control" id="konfirmasiPassword" name="konfirmasiPassword" placeholder="konfirmasi password" >
                  </div>
                  <button type="submit" class="btn btn-primary">Kirim</button>
                </form>
        </div>
    </div>
</div>